
/* ICON IMAGE*/
#icon-image-melat{
    width:30px;
    border-radius: 50%;
}
#author-image{
    border-radius: 50%;
    width: 200px;;
}
#author-image4{
    border-radius: 50%;
    width:150px;
}

#about-author{
    height: 60vh;
    margin-top: 5rem;;
}

/* HOME SECTION STYLE*/

#home {
    background: url("../image/melat.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-position: fixed;

    /* clip-path: polygon(0 0, 80% 0%, 100% 0, 100% 60%, 81% 100%, 20% 100%, 0 100%, 0% 20%); */
    height: 110vh;

}
#home-heading{
    padding-top: 100px;
    margin-top: 10rem;
    font-size: 40px;
}

/*ABOUT_ AUTHOR */
.author-heading{
    text-align: center;
}

/*People-Comment*/
#people-comment{
    background: rgb(235, 223, 224);
    margin-top: 5rem;;
}
#form-pay{
    margin-top: 5rem;
}
.form-pay-1{
    text-align: center;
}
#form-check{
    text-align: center;
    /* padding-left: 10px;; */
}
.btn btn-primary{
    color:rgb(235, 223, 224);
}
#signin{
    color:rgb(235, 223, 224);
}
h5{
    color: black;
}
h4 , .payment-heading{
    color: rgb(235, 223, 224);
    text-align: center;
}
/*fotter*/

.footer-1 {
    background: rgb(235, 223, 224);
    padding:20px;
}
.fotter-text p{
    text-align: center;
    color:black;
}